.main
{
  width: 680px;
  margin: 0 50px 50px 0;
  display: inline-table;
  /*border: 1px solid gray;*/
  /*margin-inline: 10px;*/
  /*border-radius: 0;*/
}
.main:last-child
{
  margin-right: 0;
}

.buttons_item
{
  display: flex;
  align-items: center;
  height: 30px;
}
.buttons_item button
{
  margin-right: 10px;
}
.rating
{
  display: flex;
  align-items: center;
  margin: -15px 0 5px;
}
.stars
{
  display: flex;
  align-items: center;
  margin: -2px 0 0 30px;
}

img{
  width: 150px;
  object-fit: cover;
}

.description {
  padding: 0px 30px;
  font-style: italic;
  font-weight: bold;
}
