<div *ngIf="product != undefined" class="item_prod">
  <div class="delete">
    <i (click)="remove(product.id)">🗑️</i>
  </div>
  <img src="{{product.img}}" alt="">
  <h3>
    <a href="{{product.url}}">
      {{product.name}}
    </a>
  </h3>
  <p *ngIf="product.description">
    <strong>Description:</strong>
    {{ product.description }}
  </p>
  <div class="rating">
        <span *ngIf="product.price">
            <strong>Price:</strong> {{product.price}} ₸
        </span>
    <div style="font-size: 15px;" class="stars">
      <strong>
        Rating:
      </strong> {{stars(product.rating, true)}}<div style="font-size: 21px; outline: none; margin-top: -1.5px;">{{stars(5 - product.rating, false)}}
    </div>
    </div>
  </div>
  <div class="bottom">
    <div class="buttons_item">
      <button (click)="share(product)" class="btns">Share</button>
    </div>
    <div>
      <i class="likes_btn" (click)="decrease(product)">💔</i>
      <div>{{product.likes}}</div>
      <i class="likes_btn" (click)="increase(product)">❤️</i>
    </div>
  </div>
</div>
