.box {
    padding: 30px 0 30px 30px;
}
.return_back {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    margin-bottom: 40px;
    font-size: 40px;
    transition: .3s;
}
.album_photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.album_photos img {
    width: 330px;
    margin-bottom: 40px;
    border-radius: 10px;
}