.box
{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 70px;
  display: flex;
}

.button
{
  display: flex;
  margin-right: 250px;
  padding: 20px 40px;
  font-size: 15px;
  color: #fff;
  font-style: oblique;
  font-weight: bold;
  background: rgb(238, 31, 98);
  border-radius: 50px;
  cursor: pointer;
}
